@import "tailwindcss";

/* ===========================
   CSS RESET
=========================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===========================
   HTML
=========================== */

html {
  scroll-behavior: smooth;
}

/* ===========================
   BODY
=========================== */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--background);
  color: var(--text-primary);
  line-height: 1.6;
}

/* ===========================
   ROOT
=========================== */

#root {
  min-height: 100vh;
}

/* ===========================
   LINKS
=========================== */

a {
  text-decoration: none;
  color: inherit;
}

/* ===========================
   IMAGES
=========================== */

img {
  max-width: 100%;
  display: block;
}

/* ===========================
   BUTTON
=========================== */

button {
  cursor: pointer;
  font: inherit;
}

/* ===========================
   INPUTS
=========================== */

input,
textarea,
select {
  font: inherit;
}

/* ===========================
   LISTS
=========================== */

ul,
ol {
  list-style: none;
}

/* ===========================
   CONTAINER
=========================== */

.container {
  width: min(1200px, 92%);
  margin: auto;
}
section {

  padding: 80px 0;
}